body {
    margin: 0px;
}

header {
    padding: auto;    
}

nav ul {
    list-style:none;
    margin: 0px;
    padding: 20px 0px 0px;
}

nav ul li {
    padding: 15px 0px;
    margin:auto;
    text-align: center;
    
}

nav ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform:lowercase;
    font-size: 13px;
}

main {
    text-align: center;
    padding: 40px
}

#img1 {
    width: 200px;
    padding: 10px;
    display:block;
    margin:auto;
}
          
#img2 {
    width: 200px;
     padding: 10px;
     display:block;
     margin:auto
}

p {
    font-size:17px;
    width: 250px;
    padding: 20px;
    margin: auto;
}

@media(min-width: 736px){
    #logo {
            width: 200px;
        }


    #img1 {
            width: 300px;
        }


    #img2 {
            width: 300px;
        }
 

    #grid {
        display: grid;
        width: 610px;
        grid-template-columns: 300px 300px;
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto
    }
 }

 @media(min-width: 736px){
    p {
        font-size:20px;
        width: 545px;
         margin: auto
        }
 
    #logo {
            width: 280px;
        }
 }


 @media(min-width: 1036px){
    #img1 {
            width: 400px;
        }
 }

 @media(min-width: 1036px){
    #img2 {
            width: 400px;
        }
 }

 @media(min-width: 1036px){
    #grid {
        display: grid;
        width: 810px;
        grid-template-columns: 400px 400px;
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto
    }
 }

 @media(min-width: 1036px){
    p {
        font-size:25px;
        width: 685px;
         margin: auto
        }
 }



@media(min-width: 760px) {
    label[for=Toggle]{
    display:none;
}
    nav ul {
        display: block;   
        margin: auto;
        width: 200px;
        padding: 0px;
    }

    nav ul li {
        display: inline-block;
        padding-right: 20px; 
    }

    nav ul a{
        font-size: 18px;
    }

    img.nav-logo {
        width: 115px;
    }
}

@media(min-width: 1200px){

    nav ul {
        width: 255px;
    }

    nav ul a{
        font-size: 25px;
    }

    img.nav-logo {
        width: 90px;
        float: left;
        padding: 0px;
        display: block;
    }

    nav ul li {
        border:none;
        margin-right: 20px;
        padding: 15px 0px;
    }
}
