.homeimg {
    max-width: 100%;
    padding-bottom: 15px;

}

#footer {
    padding-top: 30px;
}

input {
    display: block;
    background-color: rgb(234, 237, 240);
}

input[type=text] {
    margin-bottom:15px;
  }

  input[type=email] {
    margin-bottom:15px;
  }

  input[type=date] {
    margin-bottom:15px;
  }

  input[type=submit] {
    margin-top:15px;
    margin-bottom:30px;
    border-radius: 6px;
    color: rgb(87, 126, 255);
    border-color: rgb(0, 0, 0);
  }

#messageBox {
    display: block;
    background-color: rgb(234, 237, 240);
}

#hours {
    text-align: center;
    
}

#hourContain {
    padding-top: 10%;
}

#heads {
    text-align: center;
}

header {
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
    margin-top: 40px;

}

li {
    display: inline-block;
    list-style-type: none;
    padding-right: 50px;

}

nav ul a{
    text-decoration: none;
    color: rgb(87, 126, 255);
}

#banner {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url("caro3.jpeg");
    width: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bannertext {
    color: white;
    text-shadow:0px 0px 10px rgb(0, 0, 0)
}

.paraone {
    padding: 35px;
}

.linebreak {
    height: 4px;
    background-color: rgb(87, 126, 255);
}

.headerText {
    font-family: 'Bitter', serif; 
    font-weight: 700;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 300;
}

form {
    font-family: 'Bitter', serif;
}

header {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.priceContain {
    padding-top: 10%;
}



