
.jumbotron {
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

}
.header {
    background-color: #6b705c;

}

ul {
    list-style: none;
  }
  
  
  nav ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

.row {
    background-color: #b7b7a4;
}

.box {
    height: 200px;
}

.card-body{
background-color: #ddbea9;

}

.title {
    color: #a5a58d;
}
