
nav ul {
    list-style:none;
    display: inline-block
}

nav ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform:lowercase;
    font-size: 20px;
}

header {
    background-color: #000000;
}

article h4 {
    text-align: center;
}

.logo {
    width: 50px;
}

.logo-text {
    font-family: 'Satisfy', cursive
}

.title-text {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Athiti', sans-serif;
    font-weight: 400;
}

.team {
    max-width:25%
}

@media(min-width: 900px){
    
    p {
    font-size: 19px;
    }
}